@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Quicksand:wght@400;600&display=swap");
body header nav ul li{
    margin: 10px;
    display: inline-block;
    text-decoration: none;
}

body header a{
    text-decoration: none;
    color: black;
}
